body {
  margin: 0;
}

main {
  padding: 36px;
}
h1 {
  font-size: 1rem;
  color: white;
  padding-left: 1rem;
}

.header {
  display: flex;
  background-image: linear-gradient(to right, #672280, #a626d3);
  height: 65px;
  align-items: center;
  padding-left: 1.5rem;
}

.header-image {
  height: 30px;
}

.form {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  margin-top: 2rem;
  max-width: 90%;
  justify-content: space-between;
}

.input-text {
  display: flex;
  flex-direction: column;
}

.form-input {
  height: 35px;
  min-width: 35vw;
}
.form-button {
  max-width: 90%;
  margin-top: 1rem;
  background-image: linear-gradient(to right, #672280, #a626d3);
  border: none;
  border-radius: 0.25rem;
  height: 2.5rem;
  color: whitesmoke;
}

.meme-image {
  max-width: 90%;
  margin-top: 2rem;
}
